* {
  box-sizing: border-box;
  font-family: cursive;
}

body {
  margin: 0;
  padding: 0;
}

#logo > b > span {
  font-size: 4em;
}

#mainNavbar {
  width: 100%;
  /* position: fixed; */
}

#homeNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  background-color: lightpink;
  flex-wrap: wrap;
}

#homeNavbar > a {
  color: black;
  text-decoration: none;
  transition: 0.4s;
}

#homeNavbar > a:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.1);
}

#homeNavbar > a > img {
  border-radius: 80%;
}

#section1 {
  width: 100%;
  background-color: rgba(226, 216, 216, 0.993);
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.contactDiv {
  width: 100%;
  height: 70px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  color: white;
  font-size: 2.5em;
  align-content: space-around;
}

.contactInfoDiv {
  width: 100%;
  min-height: 350px;
  display: flex;
  justify-content: space-around;
}

.contactInputs {
  width: 500px;
}

.inputs {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.inputs > textarea {
  resize: none;
  height: 200px;
}

.inputs > button {
  width: 50%;
}

.submitBtn {
  background-color: green;
  color: black;
  font-size: 1.5em;
  border: 2px solid black;
  transition: 0.5s;
}

.submitBtn:hover {
  background-color: lightgreen;
  transform: scale(1.1);
  cursor: pointer;
}

.contactInputs {
  flex-direction: column;
  justify-content: left;
}

.infoLines {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.infoLines > img {
  width: 30px;
}

.linkIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkIcons > img {
  width: 30px;
  margin: 5px;
}

#section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-height: 400px;
  background-color: #ffb6c1;
  color: white;
}

#section2 > div > h4 {
  font-weight: bold;
  font-size: 2em;
}

#homeFooter {
  min-height: 50px;
  background-color: lightgray;
}

.listItems {
  margin: 15px;
}

.section2Titles {
  margin: 20px;
}

.section2Ul {
  list-style-type: none;
}

#homeFooter {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
