@import url(./department.css);

#homeNavbar {
  background-color: #fbbfcb;
}

#section1 {
  background-color: #fbebee;
}

.items {
  background-color: #fbd2da;
}

.addToCart {
  background-color: white;
}

.buyNow {
  background-color: #fbbfcb;
}

#section2 {
  background-color: #fbbfcb;
  color: white;
}
