@import url(./navBar.css);
@import url(./department.css);

.topNav {
  background-color: #89e8e7;
}

#section1 {
  background-color: white;
}

.items {
  background-color: #89e8e7;
}

.addToCart {
  background-color: white;
}

.buyNow {
  background-color: #4acfe7;
}

#section2 {
  background-color: #89e8e7;
  color: white;
}
